button {
  background-color: var(--secondary);
  cursor: pointer;
  border: none;
  border-radius: 6px;
  color: #030303;
  font-weight: 600;

  &.button-small {
    font-size: 14px;
    padding: .8rem 2rem;
  }

  &.button-medium {
    font-size: 18px;
    padding: 1rem 3rem;
  }

  &:hover, &:focus {
    background-color: var(--secondary-hover);
  }
}
