.hero {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 5rem;
  height: 80dvh;
  width: 100%;

  & h1 {
    font-size: 56px;
    font-weight: 700;

    & span {
      color: var(--secondary);
    }
  }

  & p {
    font-size: 20px;
    font-weight: 400;
  }

  & > .hero_nft_card {
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: 768px) { 
    align-items: stretch;
    flex-direction: column;
    padding: 1rem;


  };
}