.hero_nft_card {
  width: 592px;
  height: 481px;
  border-radius: 6px;
  position: relative;

  & footer {
    gap: 0px;
    border-radius: 0px 0px 6px 6px;
    opacity: 0.6px;
    background: linear-gradient(138.84deg, rgba(255, 255, 255, 0.201) -6.39%, rgba(255, 255, 255, 0.063) 112.17%);
    
    padding: 0.3rem 2.5rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    & .footer_eth_title {
      margin: 0;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 8px;
    }
  
    & section:nth-child(1) {
      margin-top: 10px;
    }
  
    & .footer_eth_costumer {
      opacity: .3;
      font-weight: 400;
    }
  
    & .footer_eth_value {
      display: flex;
      margin-left: -15px;
      margin-top: .5rem;
      & span {
        margin-top: 12px;
      }
    }
  }  
}

.top1_card {
  width: 93px;
  height: 32px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 1.5rem;
  border-radius: 1px;
}

.nft_glow {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background: linear-gradient(124.65deg, rgba(224, 37, 206, 0.48) 22.81%, rgba(74, 237, 82, 0.48) 98.66%);
  z-index: -2;
  filter: blur(90px);
  opacity: .5;
}

.img_container {
  width: 100%;
  display: flex;
  
  & img {
    z-index: 2;
    margin: 0 auto;
    margin-top: -57px;
  }
}

