main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  @media (min-width: 576px) { 
    width: 576px;
  };

  @media (min-width: 768px) { 
    width: 768px;
  };

  @media (min-width: 992px) { 
    width: 992px;
  };

  @media (min-width: 1200px) { 
    width: 1200px;
  };

  @media (min-width: 1400px) { 
    width: 1400px;
  };
}